<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- BEGIN IIS-MAILER CONFIG -->
    <!-- Comma separated list of allowed domains to send email.
    If it's empty or non-existant only the current domain is allowed -->
    <add key="IISMailer:allowedDomains" value=""/>
    <add key="IISMailer:fromAddress" value=""/>
    <!-- It should be a valid email from the specified server in order to prevent being marked as spam-->
    <add key="IISMailer:fromName" value=""/>
    <!-- Separate with commas if you want more than one recipient -->
    <add key="IISMailer:toAddress" value=""/>
    <add key="IISMailer:subject" value=""/>
    <!-- OPTIONAL-->
    <add key="IISMailer:server.user" value=""/>
    <add key="IISMailer:server.password" value=""/>
    <add key="IISMailer:server.host" value=""/>
    <!-- 
    OPTIONAL
    <add key="IISMailer:server.port" value="587"/>
    -->
    <!--
    OPTIONAL
    <add key="IISMailer:server.SSL" value="true"/>
    -->
    <!--
    OPTIONAL
    <add key="IISMailer:dest.url" value="https://www.server.com/landing-email-sent.html"/>
    -->
    <!--
    OPTIONAL: The file path (with write permissions) to generate a log of received form data in CSV
    It can be just a file name (formData.csv) and it will be created in the current directory 
    or absolute (such as "C:\Temp\formData.csv") which is the recommended way, but needs to set up written permissions correctly
    <add key="IISMailer:CSV.enabled" value="true"/>
    <add key="IISMailer:CSV.path" value="E:\"/>
    -->
    <!-- OPTIONAL: Send email if there's a field named "email" with a valid email address. 
    Use the template included specified in "IISMailer:reponse.template" (you'll need both set)
    <add key="IISMailer:response.enabled" value="true"/>
    <add key="IISMailer:response.template" value="template.html"/>
    <add key="IISMailer:response.subject" value="Thanks for getting in touch!"/>
    -->
    <!-- END IIS-MAILER CONFIG -->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <handlers>
      <!-- IIS MAILER -->
      <add name="IISMailer Form Sender Files" path="*.mailer" verb="POST" type="IISMailer.IISMailerHandler, IISMailer" resourceType="File" requireAccess="Read"/>
    </handlers>
  </system.webServer>
</configuration>