<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!-- BEGIN MIIS-MAILER CONFIG -->
    <!-- Comma separated list of allowed domains to send email.
    If it's empty or non-existant only the current domain is allowed
      <add key="mailer.alllowedDomains" value=""/>
    -->
    <add key="mailer.fromAddress" value=""/><!-- It should be a valid email from the specified server in order to prevent being marked as spam-->
    <add key="mailer.fromName" value=""/><!-- Optional -->
    <add key="mailer.toName" value=""/><!-- Separete with commas if you want more than one recipient -->
    <add key="mailer.toAddress" value=""/>
    <add key="mailer.subject" value=""/>
    <add key="mailer.server.user" value=""/>
    <add key="mailer.server.password" value=""/>
    <add key="mailer.server.host" value=""/>
    <!-- 
    OPTIONAL
    <add key="mailer.server.port" value="587"/>
    -->
    <!--
    OPTIONAL
    <add key="mailer.server.SSL" value="true"/>
    -->
    <add key="mailer.finalURL" value=""/>
    <!-- END MIIS-MAILER CONFIG -->
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="miis.mailer" path="miis.mailer" verb="POST" type="MIISMailer.MIISMailer, MIISMailerHandler" resourceType="File" requireAccess="Read"/>
    </handlers>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.7"/>
    <httpRuntime targetFramework="4.7"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>